<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.homework.stumessages.mapper.GuestCommentsMapper">
    
    <resultMap type="GuestComments" id="GuestCommentsResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="guestId"    column="guest_id"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="userName"    column="user_name"    />
        <result property="like"    column="like"    />
        <collection property="replayCommentsList" column="id" select="com.ruoyi.project.homework.stumessages.mapper.ReplayCommentsMapper.getReplayCommentsById"/>
    </resultMap>

    <sql id="selectGuestCommentsVo">
        select id, user_id, guest_id, content, create_time, user_name from guest_comments
    </sql>

    <select id="selectGuestCommentsList" parameterType="GuestComments" resultMap="GuestCommentsResult">
        <include refid="selectGuestCommentsVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="guestId != null "> and guest_id = #{guestId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="like != null "> and like = #{like}</if>
        </where>
    </select>
    
    <select id="selectGuestCommentsById" parameterType="Long" resultMap="GuestCommentsResult">
        <include refid="selectGuestCommentsVo"/>
        where id = #{id}
    </select>
    <select id="getGuestCommentsById" parameterType="Long" resultMap="GuestCommentsResult">
        select g.id, g.user_id, g.guest_id, g.content, g.create_time,g.user_name,g.like,u.avatar as userImg from guest_comments g left join sys_user u on g.user_id = u.user_id
        where g.guest_id = #{id}
    </select>

    <insert id="insertGuestComments" parameterType="GuestComments" useGeneratedKeys="true" keyProperty="id">
        insert into guest_comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="guestId != null">guest_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userName != null">user_name,</if>
            <if test="like != null">like,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="guestId != null">#{guestId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="userName != null">#{userName},</if>
            <if test="like != null">#{like},</if>
         </trim>
    </insert>

    <update id="updateGuestComments" parameterType="GuestComments">
        update guest_comments
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="guestId != null">guest_id = #{guestId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="like != null">like = #{like},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="likeCommentById">
        update guest_comments set `like` = `like`+1 where id = #{id}
    </update>

    <delete id="deleteGuestCommentsById" parameterType="Long">
        delete from guest_comments where id = #{id}
    </delete>

    <delete id="deleteGuestCommentsByIds" parameterType="String">
        delete from guest_comments where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>