<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.homework.myhomework.mapper.HandInHomeworkMapper">

    <resultMap type="HandInHomework" id="HandInHomeworkResult">
        <result property="hid"    column="hid"    />
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="classId"    column="class_id"    />
        <result property="stuclasSname"    column="stuclas_sname"    />
        <result property="teacherrId"    column="teacherr_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="homeworkId"    column="homework_id"    />
        <result property="paperid"    column="paperid"    />
        <result property="courseName"    column="course_name"    />
        <result property="homeworkTitle"    column="homework_title"    />
        <result property="homeworkContent"    column="homework_content"    />
        <result property="studentContent"    column="student_content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="homeworkScore"    column="homework_score"    />
        <result property="radioscore"    column="radioscore"    />
        <result property="allscores"    column="allscores"    />
        <result property="material"    column="material"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="state"    column="state"    />
        <result property="markMan"    column="mark_man"    />
        <result property="markTime"    column="mark_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHandInHomeworkVo">
        select s.* from stu_hand_in_homework s left join stu_leavehomework l on s.homework_id = l.id
    </sql>

    <select id="selectHandInHomeworkList" parameterType="HandInHomework" resultMap="HandInHomeworkResult">
        <include refid="selectHandInHomeworkVo"/>
        <where>
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="classId != null  and classId != ''"> and class_id = #{classId}</if>
            <if test="stuclasSname != null  and stuclasSname != ''"> and stuclas_sname like concat('%', #{stuclasSname}, '%')</if>
            <if test="teacherrId != null  and teacherrId != ''"> and teacherr_id = #{teacherrId}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="homeworkId != null "> and homework_id = #{homeworkId}</if>
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="homeworkTitle != null  and homeworkTitle != ''"> and homework_title = #{homeworkTitle}</if>
            <if test="allscores != null "> and allscores = #{allscores}</if>
            <if test="radioscore != null "> and radioscore = #{radioscore}</if>
        </where>
    </select>

    <select id="selectLeavehomeworkByHomeWoekId" resultType="com.ruoyi.project.homework.myhomework.domain.HandInHomework">
        select * from stu_hand_in_homework where homework_id = #{hid} and student_id = #{studentId}
    </select>
    <select id="selectHandInHomeworkByHid" parameterType="Long" resultMap="HandInHomeworkResult">
        <include refid="selectHandInHomeworkVo"/>
        where hid = #{hid}
    </select>
    <select id="selectHandInHomeworkByHomeworkid" resultMap="HandInHomeworkResult">
        select * from stu_hand_in_homework where homework_id = #{id}
    </select>

    <insert id="insertHandInHomework" parameterType="HandInHomework" useGeneratedKeys="true" keyProperty="hid">
        insert into stu_hand_in_homework
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="studentName != null">student_name,</if>
            <if test="classId != null">class_id,</if>
            <if test="stuclasSname != null">stuclas_sname,</if>
            <if test="teacherrId != null">teacherr_id,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="homeworkId != null">homework_id,</if>
            <if test="paperid != null">paperid,</if>
            <if test="courseName != null">course_name,</if>
            <if test="homeworkTitle != null">homework_title,</if>
            <if test="homeworkContent != null">homework_content,</if>
            <if test="studentContent != null">student_content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="homeworkScore != null">homework_score,</if>
            <if test="allscores != null">allscores = allscores + #{homeworkScore},</if>
            <if test="material != null">material,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="state != null">state,</if>
            <if test="markMan != null">mark_man,</if>
            <if test="markTime != null">mark_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="classId != null">#{classId},</if>
            <if test="stuclasSname != null">#{stuclasSname},</if>
            <if test="teacherrId != null">#{teacherrId},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="homeworkId != null">#{homeworkId},</if>
            <if test="paperid != null">#{paperid},</if>
            <if test="courseName != null">#{courseName},</if>
            <if test="homeworkTitle != null">#{homeworkTitle},</if>
            <if test="homeworkContent != null">#{homeworkContent},</if>
            <if test="studentContent != null">#{studentContent},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="homeworkScore != null">#{homeworkScore},</if>
            <if test="allscores != null">allscores = allscores + #{homeworkScore},</if>
            <if test="material != null">#{material},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="state != null">#{state},</if>
            <if test="markMan != null">#{markMan},</if>
            <if test="markTime != null">#{markTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateHandInHomework" parameterType="HandInHomework">
        update stu_hand_in_homework
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="stuclasSname != null">stuclas_sname = #{stuclasSname},</if>
            <if test="teacherrId != null">teacherr_id = #{teacherrId},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="homeworkId != null">homework_id = #{homeworkId},</if>
            <if test="paperid != null">#{paperid},</if>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="homeworkTitle != null">homework_title = #{homeworkTitle},</if>
            <if test="homeworkContent != null">homework_content = #{homeworkContent},</if>
            <if test="studentContent != null">student_content = #{studentContent},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="homeworkScore != null">homework_score = #{homeworkScore},</if>
            <if test="allscores != null">allscores = allscores + #{homeworkScore},</if>
            <if test="material != null">material = #{material},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="state != null">state = #{state},</if>
            <if test="markMan != null">mark_man = #{markMan},</if>
            <if test="markTime != null">mark_time = #{markTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where hid = #{hid}
    </update>
    <update id="updateHandInHomeworkScoreByStuIdAndScore">
        update stu_hand_in_homework set allscores = allscores + #{totalScroe},radioscore = #{totalScroe} where student_id = #{loginName} and homework_id = #{homeworkid}
    </update>

    <delete id="deleteHandInHomeworkByHid" parameterType="Long">
        delete from stu_hand_in_homework where hid = #{hid}
    </delete>

    <delete id="deleteHandInHomeworkByHids" parameterType="String">
        delete from stu_hand_in_homework where hid in
        <foreach item="hid" collection="array" open="(" separator="," close=")">
            #{hid}
        </foreach>
    </delete>

</mapper>