<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('我的作业列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>教师姓名：</label>
                                <input type="text" name="teacherName"/>
                            </li>
                            <li>
                                <label>课程名称：</label>
                                <input type="text" name="courseName"/>
                            </li>
                            <li>
                                <label>作业标题：</label>
                                <input type="text" name="homeworkTitle"/>
                            </li>
                            <li>
                                <label>作业状态：</label>
                                <select name="state" th:with="type=${@dict.getType('stu_homework_state')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "homework/myhomework";
        var stateDatas = [[${@dict.getType('stu_homework_state')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                detailUrl: prefix + "/detail/{id}",
                updateUrl: prefix + "/edit/{hid}",
                modalName: "我的作业",
                showSearch:false,
                showRefresh:false,
                showToggle:false,
                showColumns:false,
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'hid',
                        title: '主键',
                        visible: false
                    },
                    {
                        field: 'homeworkId',
                        title: '作业ID',
                        visible: false
                    },
                    {
                        field: 'studentName',
                        title: '学生姓名'
                    },
                    {
                        field: 'teacherName',
                        title: '教师姓名'
                    },
                    {
                        field: 'stuclasSname',
                        title: '班级名称'
                    },
                    {
                        field: 'homeworkTitle',
                        title: '作业标题'
                    },
                    {
                        field: 'radioscore',
                        title: '客观分'
                    },
                    {
                        field: 'homeworkScore',
                        title: '主观分'
                    },
                    {
                        field: 'allscores',
                        title: '作业总分'
                    },
                    {
                        field: 'state',
                        title: '作业状态',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(stateDatas, value);
                        }
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="detail(\'' + row.hid + '\',\'' + row.homeworkId + '\')"><i class="fa fa-info"></i>详情</a> ');
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="edit(\'' + row.hid + '\')"><i class="fa fa-edit"></i>修改</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function edit(hid){
            console.log(hid);
            var url = prefix + "/edit/" + hid;
            var surl = prefix + "/checkHandInHomeWork?hid=" + hid
            $.get(surl, function(data,status){
                if (status){
                    if (data.code == 301){
                        $.modal.alertError(data.msg)
                    }else {
                         $.modal.open("修改作业",url)
                    }
                }else {
                    $.modal.alertError("网路请求失败咯!")
                }
            });
        }
        function detail(id,homeworkid){
            var url = prefix + "/detail/" + id + "?homeworkid=" + homeworkid;
            $.modal.open("作业详情",url)
        }
    </script>
</body>
</html>